@import "./reset.css";
@import "./navbar.css";
@import "./articles.css";
@import "./responsive.css";




/* Colors */
:root {
    --primary-color: rgb(242, 216, 216);
    --secondary-color: rgb(223, 159, 159);
    --tertiary-color: rgb(204, 102, 102);
    --quaternary-color: rgb(84, 91, 119);
    --fifth-primary-color: rgb(55, 66, 89);
    --sixth-primary-color: rgb(92, 137, 132);
    --primary-lighter: rgb(249, 236, 236);
    --body-backg-color: rgb(255, 250, 250);
    --body-text-color: rgb(52, 52, 50);
}

a:-webkit-any-link {
    cursor: pointer;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    background-color: var(--body-backg-color);
    color: var(--body-text-color);
}

footer {
    padding: 2rem;
    text-align: center;
    font-size: 1rem;
    color: var(--primary-color);
    background-color: var(--fifth-primary-color);
}

hr {
    margin: 1rem 0;
    border: var(--line-width) solid var(--primary-color);
}

.content-box {
    padding: 20px;
}



/* Header */
.main-header,
.main-header-contact,
.main-header-falafel,
.main-header-quiche,
.main-header-salad {
    background-image: url(./img/tomato-sauce-sm.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    width: 100%;
    height: 500px;
    padding: 30px;
    text-align: center;
}

.main-header h1,
.main-header-contact h1,
.main-header-falafel h1,
.main-header-quiche h1,
.main-header-salad h1 {
    font-weight: 800;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.800);
    color: var(--primary-lighter);
    font-size: 3.5em;
}

.main-header h3,
.main-header-contact h3,
.main-header-falafel h3,
.main-header-quiche h3,
.main-header-salad h3 {
    background-color: var(--primary-lighter);
    opacity: 0.6;
    border-radius: 10px;
    padding: 10px;
    color: var(--fifth-primary-color);
    display: inline-flex;
    font-size: 2em;
    font-weight: 600;
    margin-top: 10px;
}

/* Header end */

