@import "../reset.css";
@import "../css/styles.css";
@import "./components/articles.css";
@import "./components/header.css";
@import "./components/contact.css";
@import "./components/footer.css";


.navbar {
    width: 100%;
    height: auto;
    background-color: var(--tertiary);
    position: relative;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;

    /* Responsive styles */
    @media (min-width: 320px) and (max-width: 768px) {
        justify-content: center;
        flex-direction: column;
    }
}

/* Logo */
.navbar-brand img {
    width: 12em;

    /* Responsive styles */
    @media (min-width: 320px) and (max-width: 768px) {
        margin-bottom: 3em;
    }
}

/* Logo end */

/* --------------------------------------------------------
                    Menu styles
-------------------------------------------------------- */
.navbar-menu {
    position: absolute;
    bottom: 0;
    right: 0;

    /* Responsive styles */
    @media (min-width: 320px) and (max-width: 768px) {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.navbar-menu ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar-menu li a {
    text-decoration: none;
    cursor: pointer;
    font-size: medium;
    color: var(--light);
    padding: 1em 1.5em;
    transition: all 0.3s ease;
}

.navbar-menu li a:hover {
    color: var(--light);
    background-color: var(--secondary);
}

/* --------------------------------------------------------
                    Menu styles end
-------------------------------------------------------- */
/* --------------------------------------------------------
                    Dropdown styles
-------------------------------------------------------- */
/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropbtn {
    font-size: 1em;
    height: auto;
    border: none;
    outline: none;
    color: var(--light);
    background-color: inherit;
    font-family: inherit;
    text-align: center;
    margin: 0;
    padding: 1em 1.5em;
    transition: all 0.3s ease;
}

/* Add a background color to navbar links on hover */
.dropdown:hover .dropbtn {
    color: var(--light);
    background-color: var(--secondary);
}

.dropbtn .fa-caret-down {

    /* Responsive styles */
    @media (min-width: 320px) and (max-width: 768px) {
        display: none;
    }
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    max-width: 20em;
}

/* Links inside the dropdown */
.dropdown-content a {
    display: block;
    text-align: left;
    text-decoration: none;
    color: var(--light);
    background-color: var(--tertiary);
    padding: 1em;
    transition: all 0.3s ease;
}

/* Add a background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: var(--secondary);
    color: var(--light);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* --------------------------------------------------------
                Dropdown styles end
-------------------------------------------------------- */